<div class="col-xs-12">
    <!-- Accordeon de Grupos -->
    <div class="panel-group" id="gruposAccordeon">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#gruposAccordeon" href="#gruposAccordeon-one">
                        TSM51
                    </a>
                </h4>
            </div>
            <div id="gruposAccordeon-one" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-group">
                        <li data-win-control="WinJS.UI.Repeater" data-win-options="{ data: Grupos.TSM51, template:select('.plantillaEstudiantes') }"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#gruposAccordeon" href="#gruposAccordeon-two">
                        TSM52
                    </a>
                </h4>
            </div>
            <div id="gruposAccordeon-two" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        <li data-win-control="WinJS.UI.Repeater" data-win-options="{ data: Grupos.TSM52, template:select('.plantillaEstudiantes') }"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>