<div class="col-xs-12">
    <!-- Accordeon de Grupos -->
    <div class="panel-group" id="collapse">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse" href="#collapse-one">
                        TSM51
                    </a>
                </h4>
            </div>
            <div id="collapse-one" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="win-selectionstylefilled listView"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                itemDataSource: Grupos.TSM51.dataSource,
                                itemTemplate: select('.plantillaEstudiantes'),
                                selectionMode: 'single',
                                tapBehavior: 'single',
                                layout: { type: WinJS.UI.GridLayout }
                        }">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse" href="#collapse-two">
                        TSM52
                    </a>
                </h4>
            </div>
            <div id="collapse-two" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="win-selectionstylefilled listView"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                itemDataSource: Grupos.TSM52.dataSource,
                                itemTemplate: select('.plantillaEstudiantes'),
                                selectionMode: 'single',
                                tapBehavior: 'single',
                                layout: { type: WinJS.UI.GridLayout }
                        }">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse" href="#collapse-three">
                        TSM53
                    </a>
                </h4>
            </div>
            <div id="collapse-three" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="win-selectionstylefilled listView"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                itemDataSource: Grupos.TSM53.dataSource,
                                itemTemplate: select('.plantillaEstudiantes'),
                                selectionMode: 'single',
                                tapBehavior: 'single',
                                layout: { type: WinJS.UI.GridLayout }
                        }">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse" href="#collapse-four">
                        TSM54
                    </a>
                </h4>
            </div>
            <div id="collapse-four" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="win-selectionstylefilled listView"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                itemDataSource: Grupos.TSM54.dataSource,
                                itemTemplate: select('.plantillaEstudiantes'),
                                selectionMode: 'single',
                                tapBehavior: 'single',
                                layout: { type: WinJS.UI.GridLayout }
                        }">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse" href="#collapse-five">
                        TSM55
                    </a>
                </h4>
            </div>
            <div id="collapse-five" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="win-selectionstylefilled listView"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                itemDataSource: Grupos.TSM55.dataSource,
                                itemTemplate: select('.plantillaEstudiantes'),
                                selectionMode: 'single',
                                tapBehavior: 'single',
                                layout: { type: WinJS.UI.GridLayout }
                        }">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>