<div class="col-xs-12">
    <form name="settings" id="settingsForm" class="form-group">
        <label class="control-label">Settings</label>
        <div class="radio">
            <label>
                <input type="radio" class="win-radio" name="theme" value="black" checked> Black
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" class="win-radio" name="theme" value="white"> White
            </label>
        </div>
        <input type="submit" class="win-button" value="Cambiar Tema." />
    </form>
</div>